{% load static %}
{% load group_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story | Best short stories</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/styles/common-styles.css' %}">
    {% block page-styles %} {% endblock %}
    <script src="{% static 'scripts/base_script.js' %}"></script>
    {% block page-script %} {% endblock %}
</head>
<body>
<div class="c-page-background">
    <div class="c-top-section-wrapper">

        <header class="c-nav-bar">

            <div class="c-logo">
                <a href="/">
                    <h2>Story</h2>
                </a>
            </div>

            <nav class="c-nav">
                <ul class="c-nav__list c-links">
                    <li class="c-nav__list-item"><a href="/">Home</a></li>
                    <li class="c-nav__list-item"><a href="{% url 'all_stories' %}">All stories</a></li>
                    {% if not request.user|has_group:'Writer' and not user.is_superuser %}
                        <li class="c-nav__list-item"><a href="{% url 'become_a_writer' %}">Become a writer</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="c-nav__list-item"><a class="c-sign-in" href="{% url 'sign_in' %}">Sign In</a></li>
                        <li class="c-nav__list-item"><a class="c-sign-up" href="{% url 'sign_up' %}">Sign Up</a></li>
                    {% else %}
                        {% if user.is_superuser %}
                            <li class="c-nav__list-item"><a class="c-sign-in"
                                                            href="{% url 'su_profile' %}">
                                Hello, {{ user.username }}</a></li>
                        {% else %}
                            <li class="c-nav__list-item"><a class="c-sign-in"
                                                            href="{% url 'profile' user.username|slugify %}">
                                Hello, {{ user.username }}</a></li>
                        {% endif %}
                        <li class="c-nav__list-item"><a class="c-sign-up" href="{% url 'sign_out' %}">Sign Out</a></li>
                    {% endif %}
                </ul>
            </nav>

        </header>

        <section class="c-top-page">
            {% block top_page_content %}
            {% endblock %}
        </section>

    </div>

    <a class="c-top-link hide" href="" id="js-top"><i class="fa fa-arrow-circle-up"></i></a>

    <main class="c-page-content">
        {% block page_content %}
        {% endblock %}
    </main>
</div>
<script>
    scrollToTop();
</script>
{% block page-script-function %} {% endblock %}
</body>
</html>