{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <a href=""></a>

    <form class="c-form" method="post" action="{% url 'change_password' %}">
        <h2>Change password</h2>

        <div class="c-form__item">
            <label for="{{ form.old_password.id_for_label }}">Old password</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>

        <div class="c-form__item">
            <label for="{{ form.new_password1.id_for_label }}">New password</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>

        <div class="c-form__item">
            <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>

        <div class="c-form__item">
            <button class="c-btn">Save</button>
            {% csrf_token %}
        </div>

    </form>
{% endblock %}
