{% extends 'base.html' %}

{% block page_content %}
    <form class="c-form c-form--long" method="post" action="{% url 'edit_story'  story.id story.title|slugify %}" enctype="multipart/form-data">
        <div class="c-form__item">
            <label for="{{ story_form.title.id_for_label }}">Title</label>
            {{ story_form.title }}
        </div>

        <div class="c-form__item">
            <label for="{{ story_form.category.id_for_label }}">Category</label>
            {{ story_form.category }}
        </div>

        <div class="c-form__item">
            <label for="{{ story_form.image.id_for_label }}">Image</label>
            {{ story_form.image }}
        </div>

         <div class="c-form__item">
            <label for="{{ story_form.content.id_for_label }}">Content</label>
            {{ story_form.content }}
        </div>

        <div class="c-form__item">
            <button class="c-btn">Edit story</button>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}