{% extends 'base.html' %}
{% load static %}

{% block page-styles %}
    <link rel="stylesheet" href="{% static 'CSS/styles/profile-styles.css' %}">
{% endblock %}

{% block top_page_content %}

    <section class="c-profile-info-wrapper">
        <header class="c-profile-pic-wrapper">
            {% if writer.user_profile.profile_picture %}
                <img src="{{ writer.user_profile.profile_picture.url }}" alt="">
            {% else %}
                <img src="{% static 'images/generic_profile_pic.jpg' %}" alt="default profile-picture">
            {% endif %}
        </header>

        <main class="c-profile-info-wrapper">
            <h1>{{ writer.full_name }}</h1>
            <h2>Writer</h2>
        </main>
    </section>

{% endblock %}

{% block page_content %}

    <div class="c-stories-section">
        <header>
            <h2>{{ writer.full_name }}'s stories</h2>
        </header>

        {% include 'parts/stories.html' with stories=stories %}

    </div>

{% endblock %}