@import '../01-settings/settings-colors';
@import '../02-tools/tools-mixins';

.c-nav-bar {
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 30px 50px;
  align-items: center;
  background-color: $tanly;
  position: relative;

  a {
    color: $brown_grey;
    font-size: 20px;

    &.c-sign-in {
      border: 3px solid $green_leaf;
      padding: 5px 10px;
      color: $green_leaf;
    }

    &.c-sign-up {
      border: 3px solid $violet;
      padding: 5px 10px;
      color: $violet;
    }
  }
}

.c-logo {
  @include flex_row;

  h2 {
    font-family: 'Fredericka the Great', cursive;
    color: $violet;
    transform: rotate(-20deg);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.c-nav {
  justify-self: flex-end;
}

.c-nav__list {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  column-gap: 35px;
}

.c-nav__list-item:hover {
  transform: scale(1.2);
}

.c-top-page {
  position: relative;
}

